/*
font-family: 'Blaka Hollow', cursive;
font-family: 'DynaPuff', cursive;
font-family: 'Kufam', sans-serif;
font-family: 'Lemonada', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
*/


/* Start global rules */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 13px;
}

body {
    font-family: "Kufam", sans-serif;
    min-height: 100vh;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.container:before,
.container:after {
    display: none !important;
}


/* End global rules*/


/* Start media query */


/* X-Small devices (portrait phones, less than 576px) */

@media (min-width: 575.98px) {
    .container {
        width: 450px;
    }
}


/* Small devices (landscape phones, less than 768px) */

@media (min-width: 767.98px) {
    .container {
        width: 720px;
    }
}


/* Medium devices (tablets, less than 992px) */

@media (min-width: 991.98px) {
    .container {
        width: 960px;
    }
}


/* Large devices (desktops, less than 1200px) */

@media (min-width: 1199.98px) {
    .container {
        width: 1140px;
    }
}


/* X-Large devices (large desktops, less than 1400px) */

@media (min-width: 1399.98px) {
    .container {
        width: 1320px;
    }
}


/* End media query */

.landing .container {
    padding: 0.8rem;
}

.landing .container .heading {
    padding-top: 1rem;
    max-height: calc(100vh / 4);
    background: rgb(33, 127, 208);
    background: linear-gradient( 146deg, rgba(33, 127, 208, 1) 8%, rgba(14, 41, 134, 1) 93%);
    display: flex;
    justify-content: center;
    border-radius: 1.5rem;
    -webkit-box-shadow: 0px 6px 32px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 32px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 6px 32px 0px rgba(0, 0, 0, 0.75);
}

.landing .container .heading .personInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.heading .personInfo h1>span {
    font-size: 3rem;
}

.heading .personInfo h1 {
    color: darkred;
    font-size: 2rem;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personInfo ul li {
    display: flex;
    justify-items: center;
    align-content: center;
    align-items: center;
    color: azure;
    margin-bottom: 0.5em;
}

.personInfo ul li span {
    margin-right: 1rem;
}

.landing .container .heading img {
    width: 7rem;
    height: 7rem;
    margin-top: -20%;
    margin-bottom: 1.2rem;
    border-radius: 25%;
    border: wheat solid 0.5rem;
    position: relative;
    left: 50%;
    bottom: -22%;
    transform: translate(-50%);
}


/* start diabetes info*/

.diabeticsInfo {
    margin-top: 3.5rem;
    min-height: 100vh;
    text-align: center;
}

.diabeticsInfo h2 {
    text-shadow: 0 0 10px #ffffff, -5px 1px 6px #344cce;
    font-weight: bolder;
    font-size: 1.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.diabeticsInfo .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(80% / 2), 1fr));
    grid-template-rows: repeat(auto-fill, minmax(calc(80% / 2), 1fr));
    gap: 12px;
    justify-content: space-around;
    padding-top: 2rem;
}

.diabeticsInfo .container .card {
    padding: 1rem;
    border-radius: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 2rem;
    -webkit-box-shadow: 0px 6px 32px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 32px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 6px 32px 0px rgba(0, 0, 0, 0.75);
}

.diabeticsInfo .container .card img {
    width: 5em;
    position: absolute;
    top: -1.8em;
    margin-bottom: -4rem;
}

.diabeticsInfo .container .cardOne {
    background: rgb(230, 66, 66);
    background: linear-gradient( 146deg, rgba(230, 66, 66, 1) 12%, rgba(182, 184, 59, 1) 91%);
}

.diabeticsInfo .container .cardTwo {
    background: rgb(66, 157, 230);
    background: linear-gradient( 146deg, rgba(66, 157, 230, 1) 8%, rgba(177, 72, 94, 1) 93%);
}

.diabeticsInfo .container .cardThree {
    background: rgb(68, 235, 173);
    background: linear-gradient( 146deg, rgba(68, 235, 173, 1) 8%, rgba(91, 207, 210, 1) 93%);
}

.diabeticsInfo .container .cardFour {
    background: rgb(3, 61, 10);
    background: linear-gradient( 146deg, rgba(3, 61, 10, 1) 11%, rgba(0, 198, 60, 1) 91%);
}

.card .btn {
    max-width: fit-content;
}


/* Start footer */

footer {
    background: rgb(199, 47, 47);
    background: linear-gradient( 90deg, rgba(199, 47, 47, 1) 16%, rgba(199, 57, 100, 1) 79%);
    width: 100%;
    padding: 0.5rem;
    position: fixed;
    bottom: 0;
}

footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

footer h4 {
    color: aliceblue;
    text-align: center;
}

footer .container button {
    max-width: fit-content;
    margin-right: 2rem;
    border-radius: 5rem;
    background-color: rgb(27, 174, 27);
    border: none;
    -webkit-box-shadow: 0px 6px 32px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 32px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 6px 32px 0px rgba(0, 0, 0, 0.75);
}

footer .container button:hover {
    background-color: red;
}

.dropup .dropdown-menu {
    background-color: transparent;
    border: none;
    padding: 0rem;
    box-shadow: none;
    margin-right: 3rem !important;
}

.dropdown-menu>li>a {
    background-color: green;
    color: white !important;
    margin-bottom: 1rem;
    margin-right: 1rem;
    padding: 1rem !important;
    border: white solid 0.2rem;
    border-radius: 3rem;
    display: flex !important;
    align-items: center;
    white-space: unset !important;
}

.dropdown-menu>li>a span {
    color: white;
    margin-right: 0.5rem;
}